html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-attachment: local;
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
h1 {
  color: whitesmoke;
  font-family: calibri;
  text-align: center;
  top: 30%
}
p {
  color: whitesmoke;
  font-family: calibri;
  text-align: center;
  bottom: 30%
}

a:link {
  color: whitesmoke;
}
a:visited {
  color: whitesmoke;
}
a:hover {
  color: rgb(255, 140, 102);
}
a:active {
  color: rgb(255, 140, 102);
}

