html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  color: whitesmoke;
  font-family: calibri;
  text-align: center;
}
p {
  color: whitesmoke;
  font-family: calibri;
  text-align: center;
}

a:link {
  color: whitesmoke;
}
a:visited {
  color: whitesmoke;
}
a:hover {
  color: rgb(255, 140, 102);
}
a:active {
  color: rgb(255, 140, 102);
}

